body			{ font-family: arial,helvetica,sans-serif; color: #3e9cdc; font-size: 10pt; }
p				{ font-family: arial,helvetica,sans-serif; color: #3e9cdc; font-size: 10pt; }
span			{ font-family: arial,helvetica,sans-serif; color: #3e9cdc; font-size: 10pt; }
pre				{ color: #3e9cdc; font-size: 10pt; }
blockquote		{ font-family: arial,helvetica,sans-serif; color: #3e9cdc; font-size: 10pt; }
cite			{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-weight: bold; font-style: normal; font-size: 10pt; }
em				{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-weight: bold; font-style: normal; font-size: 10pt; }
b				{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-weight: bold; font-style: normal; font-size: 10pt; }
b.small			{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-weight: bold; font-style: normal; font-size: 9pt; }
b.normal		{ font-family: arial,helvetica,sans-serif; color: #ADA8A4; font-weight: bold; font-style: normal; font-size: 8pt; letter-spacing: 2px; }
b.gray			{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-weight: bold; font-style: normal; font-size: 8pt; }
small			{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-size: 8pt; font-weight: normal; font-style: normal; }
small.normal	{ font-family: arial,helvetica,sans-serif; color: #3e9cdc; font-size: 8pt; font-weight: normal; font-style: normal; }
small.gray		{ font-family: arial,helvetica,sans-serif; color: #aaaaaa; font-size: 8pt; font-weight: normal; font-style: normal; }
small.header	{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-size: 8pt; font-weight: bold; font-style: normal; }
li				{ font-family: arial,helvetica,sans-serif; color: #3e9cdc; font-size: 10pt; }
h2				{ font-family: arial,helvetica,sans-serif; color: #ffffff; }
span.header		{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-size: 12pt; letter-spacing: 3px; font-weight: bold;}
span.header2	{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-size: 8pt; letter-spacing: 2px; font-weight: bold;}
span.header3	{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-size: 10pt; letter-spacing: 2px; font-weight: bold;}
span.header4	{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-size: 11pt;  font-weight: bold;}
span.header5	{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-size: 13pt; letter-spacing: 2px; font-weight: bold;}

span.colorRed		{ font-family: arial,helvetica,sans-serif; color: #DA0000; font-size: 10pt; font-weight: bold;}

DIV.tooltip		{ font-family: arial,helvetica,sans-serif; position: absolute; left: 0px; visibility: hidden; background-color: black; border-style: solid; border-color: #c8b038; border-width: 1px; border-left-width: 0px; border-right-width: 0px; width: 191px}
TD.tooltip		{ color: #3e9cdc; font-size: 8pt; font-weight: normal; font-style: normal; }
img.border		{ border-style: solid; border-color: #29282D; }

a:link			{ font-family: arial,helvetica,sans-serif; color: #c8b038; font-weight: bold; }
a:visited 		{ font-family: arial,helvetica,sans-serif; color: #aaaaaa; font-weight: bold; }
a:hover			{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-weight: bold; }
a:active 		{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-weight: bold; }

a.header:link			{ font-family: arial,helvetica,sans-serif; color: #D1D1D1; font-weight: bold; display: block; padding: 4px; }
a.header:visited 		{ font-family: arial,helvetica,sans-serif; color: #D1D1D1; font-weight: bold; display: block; padding: 4px;}
a.header:hover			{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-weight: bold; background-color: #336EBB; display: block; padding: 4px;}
a.header:active 		{ font-family: arial,helvetica,sans-serif; color: #FFFFFF; font-weight: bold; display: block; padding: 4px; }

a.grayButton:link			{ font-family: arial,helvetica,sans-serif; color: #D1D1D1; font-weight: bold; display: block; padding: 4px; }
a.grayButton:visited 		{ font-family: arial,helvetica,sans-serif; color: #D1D1D1; font-weight: bold; display: block; padding: 4px;}
a.grayButton:hover			{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-weight: bold; background-color: #4D4D4D; display: block; padding: 4px;}
a.grayButton:active 		{ font-family: arial,helvetica,sans-serif; color: #FFFFFF; font-weight: bold; display: block; padding: 4px; }

a.tiny:link		{ font-family: arial,helvetica,sans-serif; color: #c8b038; font-weight: bold; font-size: 8pt; }
a.tiny:visited	{ font-family: arial,helvetica,sans-serif; color: #aaaaaa; font-weight: bold; font-size: 8pt; }
a.tiny:hover	{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-weight: bold; font-size: 8pt; }
a.tiny:active	{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-weight: bold; font-size: 8pt; }

a.tiny:link		{ font-family: arial,helvetica,sans-serif; color: #c8b038; font-weight: bold; font-size: 8pt; }
a.tiny:visited	{ font-family: arial,helvetica,sans-serif; color: #aaaaaa; font-weight: bold; font-size: 8pt; }
a.tiny:hover	{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-weight: bold; font-size: 8pt; }
a.tiny:active	{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-weight: bold; font-size: 8pt; }

a.bracket:link			{ font-family: arial,helvetica,sans-serif; color: #CBA300; font-weight: normal; font-size: 8pt;}
a.bracket:visited 		{ font-family: arial,helvetica,sans-serif; color: #CBA300; font-weight: normal; font-size: 8pt;}
a.bracket:hover			{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-weight: normal; font-size: 8pt;}
a.bracket:active 		{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-weight: normal; font-size: 8pt;}
	

TD.ladderTable	 { border-style: solid; border-width: 1px; border-color: #163F76; }
TD.ladderBase	 { background-color: #0C0C0C; border-style: solid; border-width: 1px; border-color: #163F76; }
TD.tableHeader	 { border-collapse:inherit; background-color: #153C6F; border-style: solid; border-width: 1px; border-color: #508EDF #508EDF #081527 #081527; font-size: 10pt; font-weight: bold; color: #ffffff;}

TD.blueButton	 { background-color: #285B9E; border-style: solid; border-width: 1px; border-color: #508EDF #508EDF #081527 #081527; font-size: 10pt; font-weight: bold; color: #ffffff; text-align: center;}
TD.grayButton	 { background-color: #282828; border-style: solid; border-width: 1px; border-color: #979797 #979797 #171717 #171717; font-size: 10pt; font-weight: bold; color: #ffffff; text-align: center;}

TD.tableRank	 { background-color: #00002E; padding: 4px; border-style: solid; border-width: 1px; border-color: #000000; font-size: 9pt; font-weight: bold; color: #ffffff; text-align: center;} 
TD.tableRankAlt	 { background-color: #00002E; padding: 4px; border-style: solid; border-width: 1px; border-color: #000000; font-size: 9pt; font-weight: bold; color: #ffffff; text-align: center;} 
TD.tableData	 { padding: 4px; border-style: solid; border-width: 0px; border-color: #000000; font-size: 9pt; text-align: center;}
TD.tableDataAlt	 { padding: 4px; border-style: solid; border-width: 0px; border-color: #0D0D0D #0D0D0D #0D0D0D #0D0D0D; font-size: 9pt; text-align: center;}  


TD.ladderTableGray 	{ border-style: solid; border-width: 1px; border-color: #464646; }
TD.tableHeaderGray 	{ background-color: #424242; border-style: solid; border-width: 1px; border-color: #979797 #979797 #171717 #171717; font-size: 10pt; font-weight: bold; color: #ffffff; }
TD.tableFillerGray 	{ background-image: url(../images/crossshade-bg.gif); border-style: solid; border-width: 1px; border-color: #171717 #171717 #979797 #979797; font-size: 10pt; font-weight: bold; color: #ffffff; }
TD.tableRankGray	{ background-color: #171717; border-style: solid; border-width: 1px; border-color: #000000; font-size: 9pt; font-weight: bold; color: #ffffff; }
TD.tableRankAltGray	{ background-color: #00002E; border-style: solid; border-width: 1px; border-color: #000000; font-size: 9pt; font-weight: bold; color: #ffffff; }
TD.tableDataGray	{ background-color: #080908; border-style: solid; border-width: 1px; border-color: #000000; font-size: 9pt; }			


TABLE.profile	 { background-color: #121212; border-style: solid; border-width: 1px; border-color: #313131 #313131 #313131 #313131; }
IMG.profile	 	 { border-style: solid; border-width: 1px; border-color: #000000 #000000 #313131 #313131; }
input.searchBox { background-color: #000000; border-style: solid; border-width: 1px; border-color: #3A3A3A #3A3A3A #979797 #979797; color: #D1D1D1;}

TD.menuHeader 	{  color: #CBA300; font-size: 8pt; font-family: arial,helvetica,sans-serif; background-color: #2E2D2B; border-style: solid; border-width: 1px; border-color: #5D5D5D #5D5D5D #1E1D1C #1E1D1C;}

TD.headerOutline 	{ border-style: solid; border-width: 1px; border-color: #271A13; padding: 2px;}