BODY, HTML {
  background-color: #000;
  color: #CCC;
  font-family: Arial;
  font-size: 10pt;
  margin: 0px;
}
a {
  color: #CCC;
}
a:visited{
  color: #CCC;
}
a:hover{
  color: #FFF;
}
img {
  border: 0px;
}
p {
  color: #CCC;
}
li {
  margin-left: 10px;
  background-color: #333;
  padding: 2px;
}
table {
  padding: 0px;
}
.even {
  background-color: #333;
}
#headerbg {
  position: absolute;
  background-image: url(images/alt_leftbg.gif);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 148px;
}
#header {
  position: relative;
  top: 0px;
  width: 100%;
  height: 160px;
}
#adBorder {
  background-image: url(images/adBorder.jpg);
  position: absolute;
  top: 3px;
  left: 20%;
  width: 738px;
  height: 102px;
}
#ad {
  position: relative;
  padding-left: 6px;
  padding-top: 7px;
}
#bnetLogo {
  position: absolute;
  top: 26px;
  left: 50px;
  width: 150px;
  height: 88px;
}
#return {
  position: absolute;
  top: 105px;
  left: 21%;
  width: 547px;
  height: 41px;
}
#footer {
  background-image: url(images/footerBackground.jpg);
  background-position: top center;
  position: relative;
  width: 100%;
  bottom: 0px;
  height: 50px;
  padding: 0px;
  margin: 0px;
}
#main {
  position: relative;
  width: 900px;
  background-color: #2E2E2E;
  text-align: left;
  padding: 10px;
  margin-bottom: 20px;
}
#content {
  position: relative;
  background-color: #454545;
  margin-bottom: 5px;
  padding: 5px;
  white-space: normal;
  border-right: 2px solid #222;
  border-bottom: 2px solid #222;
}
.blizz {
  color: #075DE4;
  text-decoration: none;
}
.title {
  font-size: 18pt;
  font-weight: bold;
  color: #075DE4;
  border-bottom: 2px solid #333;
}
.author {
  font-style: italic;
}
.header {
  font-size: 14pt;
  font-weight: bold;
  color: #FFF;
  border-bottom: 1px solid #333;
  padding-bottom: 2px;
}

.tname {
  border-bottom: 1px solid #333;
  padding-bottom: 4px;
  font-weight: bold;
  font-size: 12pt;
  color: #CC9;
}
.theader {
  font-weight: bold;
}
.event {
  color: #C66;
}
.condition {
  color: #69C;
}
.action {
  color: #6C6;
}
.variable {
  color: #6CC;
}
.comment {
  font-style: italic;
}
