body			{ font-family: Arial,Helvetica; color: #27a4bd; font-size: 9pt; }
p			{ font-family: Arial,Helvetica; color: #27a4bd; font-size: 9pt; }
span			{ font-family: Arial,Helvetica; font-size: 9pt; }
small			{ font-family: Arial,Helvetica; font-size: 8pt; }
b			{ font-family: Arial,Helvetica; font-weight: bold; font-style: normal; font-size: 9pt; }
em			{ font-family: Arial,Helvetica; color: #ffffff; font-weight: bold; font-style: normal; font-size: 9pt; }
li			{ font-family: Arial,Helvetica; color: #27a4bd; font-size: 9pt; }
blockquote		{ font-family: Arial,Helvetica; color: #27a4bd; font-size: 9pt; }

a:link		{ color: #ffff00; }
a:active		{ color: #ffffff; }
a:visited		{ color: #888800; }
a:hover		{ color: #ffffff; }

a.popup:link	{ color: #00cf00; }
a.popup:visited	{ color: #007a00; }
a.popup:hover	{ color: #ffffff; }

a.tiny:link		{ font-family: Arial,Helvetica; color: #ffff00; font-weight: lighter; font-style: normal; font-size: 8pt; }
a.tiny:visited	{ font-family: Arial,Helvetica; color: #888800; font-weight: lighter; font-style: normal; font-size: 8pt; }
a.tiny:hover	{ font-family: Arial,Helvetica; color: #ffffff; font-weight: lighter; font-style: normal; font-size: 8pt; }
a.tiny:active	{ font-family: Arial,Helvetica; color: #ffff00; font-weight: lighter; font-style: normal; font-size: 8pt; }

a.tinyx:link	{ font-family: Arial,Helvetica; color: #ff0000; font-weight: lighter; font-style: normal; font-size: 8pt; }
a.tinyx:visited	{ font-family: Arial,Helvetica; color: #880000; font-weight: lighter; font-style: normal; font-size: 8pt; }
a.tinyx:hover	{ font-family: Arial,Helvetica; color: #ffffff; font-weight: lighter; font-style: normal; font-size: 8pt; }
a.tinyx:active	{ font-family: Arial,Helvetica; color: #ffffff; font-weight: lighter; font-style: normal; font-size: 8pt; }