body		{ font-family: Verdana,Arial,Helvetica,Sans-Serif; color: #CBA300; font-size: 10pt; }
p		{ font-family: Verdana,Arial,Helvetica,Sans-Serif; color: #CBA300; font-size: 10pt; }
span		{ font-family: Verdana,Arial,Helvetica,Sans-Serif; font-size: 10pt; color: #CBA300;}
pre		{ color: #CCCCCC; font-size: 10pt; }
blockquote	{ font-family: Verdana,Arial,Helvetica,Sans-Serif; color: #CBA300; font-size: 10pt; }
cite		{ font-family: Verdana,Arial,Helvetica,Sans-Serif; color: #CBA300; font-weight: bold; font-style: normal; font-size: 10pt; }
em		{ font-family: Verdana,Arial,Helvetica,Sans-Serif; color: #FFFFFF; font-weight: bold; font-style: normal; font-size: 10pt; }
b		{ font-family: Verdana,Arial,Helvetica,Sans-Serif; font-weight: bold; font-style: normal; font-size: 10pt; }
small		{ font-family: Verdana,Arial,Helvetica,Sans-Serif; font-size: 8pt; font-weight: normal; font-style: normal; }
li		{ font-family: Verdana,Arial,Helvetica,Sans-Serif; color: #CBA300; font-size: 10pt; }

input 			{ background-color: #141414; border-style: solid; border-width: 1px; border-color: #999999; color: #CBA300; }
TEXTAREA 		{ background-color: #141414; border-style: solid; border-width: 1px; border-color: #999999; color: #CBA300; }
input.button 	{ background-color: transparent; border-style: none; }

a:link	{ font-family: Verdana,Arial,Helvetica,Sans-Serif; color: #A3A3A3; font-weight: bold; }
a:hover	{ font-family: Verdana,Arial,Helvetica,Sans-Serif; color: #FFFFFF; font-weight: bold; }
a:active 	{ font-family: Verdana,Arial,Helvetica,Sans-Serif; color: #FFFFFF; font-weight: bold; }
a:visited 	{ font-family: Verdana,Arial,Helvetica,Sans-Serif; color: #AAAAAA; font-weight: bold; }

a.popup:link 	{ font-family: Verdana,Arial,Helvetica,Sans-Serif; color: #FFFFBB; }
a.popup:hover 	{ font-family: Verdana,Arial,Helvetica,Sans-Serif; color: #FFFFFF; }
a.popup:visited	{ font-family: Verdana,Arial,Helvetica,Sans-Serif; color: #AAAAAA; }

a.tiny:link		{ font-family: Verdana,Arial,Helvetica,Sans-Serif; color: #FFFFBB; font-weight: normal; font-size: 8pt; }
a.tiny:hover	{ font-family: Verdana,Arial,Helvetica,Sans-Serif; color: #FFFFFF; font-weight: normal; font-size: 8pt; }
a.tiny:active	{ font-family: Verdana,Arial,Helvetica,Sans-Serif; color: #FFFFFF; font-weight: normal; font-size: 8pt; }
a.tiny:visited	{ font-family: Verdana,Arial,Helvetica,Sans-Serif; color: #AAAAAA; font-weight: normal; font-size: 8pt; }