body			{ font-family: Arial,Helvetica,Sans-Serif; color: aeaedd; font-size: 10pt; }
p			{ font-family: Arial,Helvetica,Sans-Serif; color: aeaedd; font-size: 10pt; }
span			{ font-family: Arial,Helvetica,Sans-Serif; color: aeaedd; font-size: 10pt; }
b			{ font-family: Arial,Helvetica,Sans-Serif; font-weight: bold; }
em			{ color: #ffffff; font-weight:bold; font-style: normal; }
small			{ font-size: 8pt; font-weight:lighter; }

a:link		{ color: #dddd11; font-weight: bold; }
a:active		{ color: #ffffff; font-weight: bold; }
a:visited		{ color: #bbbbbb; font-weight: bold; }
a:hover		{ color: #ffffff; font-weight: bold; }

a.popup:link	{ color: #00cf00; }
a.popup:visited	{ color: #00cf00; }
a.popup:hover	{ color: #11ff11; }

a.tinypop:link	{ color: #00cf00; font-size: 8pt; font-weight: lighter; }
a.tinypop:visited	{ color: #00cf00; font-size: 8pt; font-weight: lighter; }
a.tinypop:hover	{ color: #11ff11; font-size: 8pt; font-weight: lighter; }

a.tiny:link		{ text-decoration: none; font-size: 8pt; font-weight: lighter; }
a.tiny:visited	{ text-decoration: none; font-size: 8pt; font-weight: lighter; }
a.tiny:hover	{ text-decoration: none; font-size: 8pt; font-weight: lighter; }
a.tiny:active	{ text-decoration: underline,overline; font-size: 8pt; font-weight: lighter; }

