TD.rankingOutline 	{ border-style: solid; border-width: 1px; border-color: #271A13; padding: 2px;}
TD.rankingOutlineAlt{ background-color:#0C0C0C; border-style: solid; border-width: 1px; padding: 2px; border-color: #271A13;}
TD.blackBorder		{ border-style: solid; border-width: 2px; border-color: #000000; padding: 2px;}
TD.rankingHeader 	{ text-align: center; color: #ffffff; font-size: 8pt; font-family: arial,helvetica,sans-serif; font-weight: bold; background-color: #2E2D2B; border-style: solid; border-width: 1px; border-color: #5D5D5D #5D5D5D #1E1D1C #1E1D1C; padding: 3px;}
TD.rankingHeaderTeam{ color: #ffffff; font-size: 8pt; font-family: arial,helvetica,sans-serif; font-weight: bold; background-color: #2E2E2E; border-style: solid; border-width: 1px; border-color: #5D5D5D #5D5D5D #1E1D1C #1E1D1C; padding: 3px;}


TD.rankingFiller 	{ background-color: #1F1E1D; border-style: none; border-width: 0px; }
TD.rankingRow		{ text-align: center; color: #929292; font-size: 8pt; font-family: arial,helvetica,sans-serif; border-style: solid; border-width: 1px; border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-color:#000000; padding: 3px; }
TD.rankingRowLeft		{ color: #929292; font-size: 8pt; font-family: arial,helvetica,sans-serif; border-style: solid; border-width: 1px; border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-color:#000000; padding: 3px; }
TD.rankingRowAlt	{ color: #929292; font-size: 8pt; font-family: arial,helvetica,sans-serif; border-style: solid; border-width: 1px; border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-color:#000000; padding: 3px; }			

TABLE.expOutline	 	{ border-style: solid; border-width: 1px; border-color: #5A5D5A; background-color:#000000;}

TD.rankingRowAltWhite{ color: #ffffff; font-size: 8pt; font-family: arial,helvetica,sans-serif; border-style: solid; border-width: 1px; border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-color:#000000; padding: 3px; }			

SPAN.rankingName	{ color: #929292; font-size: 8pt; font-family: arial,helvetica,sans-serif;  }
SPAN.rankingHeader 	{ FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif } 
SPAN.rankingData	{ FONT-SIZE: 8pt; COLOR: #929292; FONT-FAMILY: arial,helvetica,sans-serif } 
SPAN.gray			{ FONT-SIZE: 10pt; COLOR: #929292; FONT-FAMILY: arial,helvetica,sans-serif } 

#colorRed			{ color: red; }

a.button:link		{ color: #CBA300; display: block; padding: 3px; }
a.button:visited 	{ color: #CBA300; display: block; padding: 3px; }
a.button:hover		{ color: #ffffff; background-color: #565553; display: block; padding: 3px;}
a.button:active 	{ color: #FFFFFF; display: block; padding: 3px; }

a:link			{ font-family: arial,helvetica,sans-serif; color: #CBA300; font-weight: bold; }
a:visited 		{ font-family: arial,helvetica,sans-serif; color: #aaaaaa; font-weight: bold; }
a:hover			{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-weight: bold; }
a:active 		{ font-family: arial,helvetica,sans-serif; color: #ffffff; font-weight: bold; }

a.rankingName:link		{ color: #CBA300; }
a.rankingName:visited 	{ color: #CBA300; }
a.rankingName:hover		{ color: #CBA300; background-color: #565553; }
a.rankingName:active 	{ color: #CBA300; }	

TABLE.mainTable	{ BACKGROUND-IMAGE: url('../images/ladder-revise/right-bg.gif');  BACKGROUND-REPEAT: repeat-y; BACKGROUND-POSITION: right;}

TD.rankingOutline2 	{ border-style: solid; border-width: 1px; border-color: #464646; }
TD.rankingHeader2 	{ text-align: center; color: #CBA300; font-size: 8pt; font-family: arial,helvetica,sans-serif; background-color: #2E2D2B; border-style: solid; border-width: 1px; border-color: #5D5D5D #5D5D5D #1E1D1C #1E1D1C;}
TD.rankingFiller2	{ text-align: center; font-size: 8pt; font-family: arial,helvetica,sans-serif; background-color: #1F1E1D; border-style: none; border-width: 0px; }
TD.rankingRow2		{ text-align: center; color: #ffffff; font-size: 9pt; font-family: arial,helvetica,sans-serif; font-weight: bold; border-style: solid; border-width: 1px; border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-color:#000000; padding: 3px; }
TD.rankingRowAlt2	{ color: #ffffff; font-size: 9pt; font-family: arial,helvetica,sans-serif; font-weight: bold; border-style: solid; border-width: 1px; border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-color:#000000; padding: 3px; }

LI					{ color: #AB9364; list-style: square;  }

	
#levelbarParent		 { position: relative; height: 1px; width: 70px; }
#levelbarChild		 { position: absolute; left: 30px; top: 1px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif; }
#levelbarChild2		 { position: absolute; left: 55px; top: 4px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif; }	

TD.playerStatsHeader { FONT-SIZE: 8pt; COLOR: #929292; FONT-FAMILY: arial,helvetica,sans-serif; }
TD.playerStatsData	 { FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif; font-weight: bold; text-align: right;}
TD.playerStatsDataLeft{ FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif; font-weight: bold;}

LI.profileReport	 { FONT-SIZE: 8pt; COLOR: #929292; FONT-FAMILY: arial,helvetica,sans-serif; }
OL.profileReport	 { FONT-SIZE: 8pt; COLOR: #929292; FONT-FAMILY: arial,helvetica,sans-serif; }

p.info			     { font-family: arial,helvetica,sans-serif; color: #AB9364; font-size: 10pt; }
blockquote.info	     { font-family: arial,helvetica,sans-serif; color: #AB9364; font-size: 10pt; }

table.info			 { font-family: arial,helvetica,sans-serif; color: #AB9364; font-size: 10pt; }