body			{ font-family: Arial,Helvetica,Sans-Serif; color: #BBBBBB; font-size: 10pt; }
p			{ font-family: Arial,Helvetica,Sans-Serif; color: #BBBBBB; font-size: 10pt; }
span			{ font-family: Arial,Helvetica,Sans-Serif; font-size: 10pt; }
pre			{ color: #DDDDDD; }
blockquote		{ font-family: Arial,Helvetica,Sans-Serif; color: #BBBBBB; font-size: 10pt; }
cite			{ font-family: Arial,Helvetica,Sans-Serif; color: #FFFFFF; font-weight: bold; font-style: normal ; font-size: 10pt; }
em			{ font-family: Arial,Helvetica,Sans-Serif; color: #FFFFFF; font-weight: bold; font-style: normal ; font-size: 10pt; }
b			{ font-family: Arial,Helvetica,Sans-Serif; font-weight: bold; font-style: normal; }
i			{ font-family: Arial,Helvetica,Sans-Serif; font-style: italic; }
small			{ font-family: Arial,Helvetica,Sans-Serif; font-size: 8pt; font-weight: normal; font-style: normal; }
li			{ font-family: Arial,Helvetica,Sans-Serif; font-size: 10pt; }

a:link		{ font-family: Arial,Helvetica,Sans-Serif; color: #CCCC99; }
a:visited		{ font-family: Arial,Helvetica,Sans-Serif; color: #999955; }
a:active		{ font-family: Arial,Helvetica,Sans-Serif; color: #FFFFFF; }
a:hover		{ font-family: Arial,Helvetica,Sans-Serif; color: #FFFFFF; }

a.popup:link	{ font-family: Arial,Helvetica,Sans-Serif; color: #CC0000 }
a.popup:visited	{ font-family: Arial,Helvetica,Sans-Serif; color: #AA0000 }
a.popup:hover	{ font-family: Arial,Helvetica,Sans-Serif; color: #FF0000 }

a.tiny:link		{ font-family: Arial,Helvetica,Sans-Serif; color: #CCCC99; font-weight: normal; font-size: 8pt }
a.tiny:visited	{ font-family: Arial,Helvetica,Sans-Serif; color: #999955; font-weight: normal; font-size: 8pt }
a.tiny:active	{ font-family: Arial,Helvetica,Sans-Serif; color: #FFFFFF; font-weight: normal; font-size: 8pt }
a.tiny:hover	{ font-family: Arial,Helvetica,Sans-Serif; color: #FFFFFF; font-weight: normal; font-size: 8pt }

a.botlink:link	{ font-family: Arial,Helvetica,Sans-Serif; color: #000000; font-weight: normal; font-size: 8pt }
a.botlink:visited	{ font-family: Arial,Helvetica,Sans-Serif; color: #000000; font-weight: normal; font-size: 8pt }
a.botlink:active	{ font-family: Arial,Helvetica,Sans-Serif; color: #A00000; font-weight: normal; font-size: 8pt }
a.botlink:hover	{ font-family: Arial,Helvetica,Sans-Serif; color: #A00000; font-weight: normal; font-size: 8pt }